---
import * as CONFIG from "../config";
import { getNavigationStructure } from "../utils/getNavigationStructure";
import Navigation from "../components/Navigation.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import TableOfContents from "../components/TableOfContents.astro";
import SearchField from "../components/SearchField.astro";

// Get the navigation structure
const navigation = getNavigationStructure();

interface Props {
  content: {
    title: string;
    metaTitle: string;
    metaDescription: string;
  };
  headings: {
    depth: number;
    id: string;
    text: string;
  }[];
}

const {
  content: { title, metaTitle, metaDescription },
  headings,
} = Astro.props;

const basePath = `${CONFIG.GITHUB.repo}/blob/${CONFIG.GITHUB.branch}/`;
let pagePath = Astro.url.pathname; // Gets the URL path, like '/blog/my-post'

// if the page is a directory, append 'index' to the path
if (pagePath.endsWith("/")) {
  pagePath += "index";
}

// Get the current page's URL on GitHub
const editUrl = `${basePath}src/pages${pagePath}.mdx`;

import "../styles/globals.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        title
          ? `${metaTitle || title} - ${CONFIG.SITE.title}`
          : CONFIG.SITE.title
      }
    </title>
  </head>
  <body>
    <div class="container mx-auto">
      <div class="grid grid-cols-12">
        <div
          class="col-span-12 md:col-span-4 lg:col-span-3 xl:col-span-3 2xl:col-span-2 sidebar border-r md:min-h-screen"
        >
          <header
            class="h-20 border-b md:mb-8 border-gray-200 dark:border-gray-700 flex justify-between"
          >
            <div class="px-8 mt-auto mb-0">
              <h1 class="text-xl font-bold py-2 text-primary">
                <a href="/">{CONFIG.SITE.title}</a>
              </h1>
            </div>

            <div class="my-auto mr-8 lg:hidden">
              <button class="border p-3">
                <svg
                  class="w-6 h-6 text-gray-500 dark:text-gray-400"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
              </button>
            </div>
          </header>
          <Navigation navigation={navigation} />
        </div>
        <div
          class="col-span-12 md:col-span-8 lg:col-span-9 xl:col-span-9 2xl:col-span-10"
        >
          <main class="mb-8">
            <div class="border-b dark:border-gray-700 mb-8 flex gap-x-8 h-20">
              <div class="flex-1 px-8 my-auto">
                <div class="max-w-xl lg:absolute top-4 w-full">
                  <SearchField />
                </div>
              </div>

              <div class="my-auto first-line:justify-end flex-none px-8">
                <ThemeIcon />
              </div>
            </div>

            <article class="px-8">
              <header class="max-w-2xl">
                <h1 class="text-6xl font-black mb-2">{title}</h1>
                <p class="text-2xl text-grey-dk-000 mb-8">
                  {metaDescription}
                </p>
              </header>

              <div class="grid grid-cols-12 lg:gap-x-16">
                <div class="col-span-12 lg:col-span-9 order-2 lg:order-1">
                  <section class="main-content">
                    <slot />
                  </section>
                </div>

                <div class="col-span-12 lg:col-span-3 order-1 lg:order-2">
                  {
                    headings && headings.length > 0 && (
                      <nav class="article-toc lg:px-0 mb-8 sticky top-10">
                        <h3 class="font-bold text-lg">Table of Content</h3>
                        <TableOfContents headers={headings} />
                      </nav>
                    )
                  }
                </div>
              </div>
            </article>
          </main>

          <footer
            class="text-sm px-8 py-8 text-gray-400 border-t dark:border-gray-700"
          >
            <p class="mb-4">
              Copyright &copy; {new Date().getFullYear()} Tyler Rilling. Distributed
              by an MIT license.
            </p>

            <small>
              <a class="text-small text-primary mb-0" href={editUrl}>
                Edit this page on GitHub
              </a>
            </small>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
